@tailwind base;
@tailwind components;
@tailwind utilities;


/* Enable smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Custom Animations */
@layer utilities {
  .animate-fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
    opacity: 0;
  }
  .animate-fade-in-up.delay-200 {
    animation-delay: 0.2s;
  }
  .animate-fade-in-up.delay-400 {
    animation-delay: 0.4s;
  }
  .animate-fade-in {
    animation: fadeIn 1s ease-out forwards;
    opacity: 0;
  }
  .animate-fade-in.delay-600 {
    animation-delay: 0.6s;
  }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1; /* gray-300 */
    border-radius: 20px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8; /* gray-400 */
  }
}